<div class="post">
    <div class="header">
      <h1>Post title</h1>

      <button [routerLink]="['/']" class="btn btn-link">На главную</button>
    </div>
    <div class="info">
      <strong>Avtor</strong>
      <small>12.09.2019</small>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ea ex exercitationem illo in ipsum placeat quia reprehenderit temporibus velit! Ab ad architecto asperiores, aut consectetur culpa debitis dolorem ea error fugit inventore magni minima mollitia natus officiis omnis optio perferendis quibusdam repudiandae sapiente sequi ullam, ut, voluptatibus! Quae, sunt.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ea ex exercitationem illo in ipsum placeat quia reprehenderit temporibus velit! Ab ad architecto asperiores, aut consectetur culpa debitis dolorem ea error fugit inventore magni minima mollitia natus officiis omnis optio perferendis quibusdam repudiandae sapiente sequi ullam, ut, voluptatibus! Quae, sunt.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ea ex exercitationem illo in ipsum placeat quia reprehenderit temporibus velit! Ab ad architecto asperiores, aut consectetur culpa debitis dolorem ea error fugit inventore magni minima mollitia natus officiis omnis optio perferendis quibusdam repudiandae sapiente sequi ullam, ut, voluptatibus! Quae, sunt.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ea ex exercitationem illo in ipsum placeat quia reprehenderit temporibus velit! Ab ad architecto asperiores, aut consectetur culpa debitis dolorem ea error fugit inventore magni minima mollitia natus officiis omnis optio perferendis quibusdam repudiandae sapiente sequi ullam, ut, voluptatibus! Quae, sunt.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ea ex exercitationem illo in ipsum placeat quia reprehenderit temporibus velit! Ab ad architecto asperiores, aut consectetur culpa debitis dolorem ea error fugit inventore magni minima mollitia natus officiis omnis optio perferendis quibusdam repudiandae sapiente sequi ullam, ut, voluptatibus! Quae, sunt.</p>
    </div>
</div>
